<div class="container">
  <h2>My Circuits</h2>
  <a href="<%= url_for(:circuits, :show) %>" class="btn btn-primary" id="newCircuitButton">New Circuit</a>
  <table class="table table-hover">
    <thead>
      <tr>
        <th><b>Name</b></th>
        <th><b>Versions</b></th>
        <th><b>Modified</b></th>
      </tr>
    </thead>
    <tbody>
      <% @circuits.each do |cid, circuits, modified| %>
        <tr>
          <td>Circuit <%= cid %></td>
          <td>
            <% circuits.each do |circuit| %>
              <a href="<%= url_for(:circuits, :show, :c_id => cid, :v_id => circuit.v_id) %>"><span class="badge"><%= circuit.v_id %></span></a>
            <% end %>
          </td>
          <td><%= modified.strftime("%b %d %Y") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
