<ul>
  <% @circuits.each do |cid, circuits, modified| %>
    <li>
    <a href="<%= url_for(:circuits, :show, :c_id => circuits.last.c_id, :v_id => circuits.last.v_id) %>"><%= circuits.first.name %></a>
    <ul id="horizontalCircuitIterations">
      <% circuits.each do |circuit| %>
        <li><a href="<%= url_for(:circuits, :show, :c_id => cid, :v_id => circuit.v_id) %>"><span class="badge"><%= circuit.v_id %></span></a></li>
      <% end %>
    </ul>
    </li>
  <% end %>
  <% if @circuits.empty? %>
    You don't appear to have any circuits yet! Would you like to <a href="<%= url_for(:circuits, :show) %>">create one</a>?
  <% end %>
</ul>
