<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Quantum</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag 'application' %>
        <%= javascript_include_tag 'application' %>
        <%= yield_content :head if content_for? :head %>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <div id="page">
          <div id="navbar" class="navbar navbar-default navbar-static-top">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="<%= url_for(:pages, :home) %>">Shor's Circuits</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <%= nav_link 'Home', url_for(:pages, :home) %>
                <%= nav_link 'About', url_for(:pages, :about) %>
                <%= nav_link('Circuits', url_for(:circuits, :index)) { |url| url.include? "circuits" } %>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <% if signed_in? %>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name %> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="/auth/signout">Sign out</a></li>
                    </ul>
                  </li>
                <% else %>
                  <li><a href="/auth/developer">Sign in</a></li>
                <% end %>
              </ul>
            </div>
          </div>
          <%= yield %>
        </div>
    </body>
</html>
